extends base.pug

block style 
  style 
    include ../static/base-style.css
    include ../static/home-style.css
    include ../static/about-style.css
  <script src="https://kit.fontawesome.com/0c8960d47b.js" crossorigin="anonymous"></script>

block content 
  section.about
    div.about-div#d-1
      h1 our gym center
      img(src="../static/image/about.jpg", alt="error")
      img(src="../static/image/about2.jpg", alt="error")
    div.about-div#d-2
      h1 what's our goal???
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quaerat iste doloremque praesentium quod quos iusto amet cupiditate voluptatibus dolor dolores in quis iure reprehenderit nam accusamus, enim ratione nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis velit corporis quasi. Aut, laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed et ducimus quae. Quibusdam expedita soluta quas ex hic, at optio. 
    div.about-div#d-3
      h1 why people are want to join in our jym??? 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at blanditiis fuga quam cupiditate odio incidunt id culpa vero laudantium molestias ab quod maiores quo reprehenderit adipisci temporibus laborum, sit qui? Aliquid iure rem consequuntur! Cum voluptatum ipsam amet quo, culpa impedit, rem quaerat, laboriosam voluptate fugiat nemo numquam modi iure. Neque nulla tempora voluptatum, ipsa laboriosam adipisci dolores fuga commodi, inventore ad quaerat rem doloribus. Rem numquam reiciendis consequatur assumenda possimus, delectus maiores. Nesciunt minima distinctio, culpa dolores totam incidunt harum rerum laboriosam, sapiente quos dicta iusto laudantium dolorum earum expedita ullam suscipit animi neque. Laboriosam nostrum reiciendis quisquam ex iusto necessitatibus, molestias assumenda, accusamus nemo, repudiandae adipisci quia nulla et. Libero nam eligendi sit, voluptas magni id modi, incidunt.