extends base.pug

//- block scripts 
//-   script  
//-       include ../static/index.js
block style 
  style 
    include ../static/base-style.css
    include ../static/home-style.css
  <script src="https://kit.fontawesome.com/0c8960d47b.js" crossorigin="anonymous"></script>

block content 
  section.home
      div.heading
        h1 want to be body builder??? then leave from your comfort zone.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ullam velit molestiae nisia.
        div.div-btn #[a(href="####") LEARN MORE]
  
  
  