extends base.pug

block style 
  style 
    include ../static/base-style.css
    include ../static/home-style.css
    include ../static/about-style.css
    include ../static/review-style.css
    include ../static/service-style.css
  <script src="https://kit.fontawesome.com/0c8960d47b.js" crossorigin="anonymous"></script>

block content 
  section.service
    div.service-div#sd-1 
      h1 zero to hero
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem facere sunt explicabo vel dicta minima provident, recusandae ab porro voluptate quam dolore cum, ipsum iste laudantium perferendis, fuga exercitationem qui!
    div.service-div#sd-2 
      h1 3 trainer
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt culpa repellendus hic autem reiciendis rem illo fuga perferendis veniam eos, suscipit, vel nesciunt mollitia facere nihil nostrum optio. Esse nesciunt dolorem nulla sunt iure repudiandae cum repellendus magni harum, quibusdam error eligendi, qui, sequi iusto itaque doloribus obcaecati aperiam fugit!
    div.service-div#sd-3
      h1 opportunity for playing in internation level
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore alias dignissimos hic! Doloremque, reiciendis. Modi fuga nostrum eaque enim quis!
    